// Typography
$font-family: 'Roboto';
$font-size-xsm: 12px;
$font-size-sm: 13px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-weight-large: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-color: #263238;
$secondary-font-color: #546E7A;
$shadow-sm: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;;

// Colors
$black: #000000;
$white: #FFFFFF;
$dark-color: #263238;
$gray-color: #C1C2C3; // Can be modified
$link-color: #3a7ef2;
$light-color: #f7f7f7;
$info-color: #204d74;
$danger-color: #FF4D50;
$success-color:#53C41A;
$primary-color: #0E90D9;
$warning-color: #FBAD15;
$border-color: #C1C2C3;
$body-background: #F7F8F9;
$secondary-color: #546E7A;
$control-border-color: #C1C2C3;
$brand-color: #3a7ef2;
$brand-dark-color: hsl(218, 88%, 30%);
$brand-light-color: hsl(218, 88%, 80%);
:root {
  --h: 90px;
}